<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:include="include :: header('Sửa đổi menu')" />
</head>

<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-menu-edit" th:object="${menu}">
			<input name="menuId" type="hidden" th:field="*{menuId}" />
			<input id="treeId" name="parentId" type="hidden" th:field="*{parentId}" />
			<div class="form-group">
				<label class="col-sm-3 control-label">Menu:</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input class="form-control" type="text" onclick="selectMenuTree()" id="treeName" readonly="true"
							th:value="${menu.parentName == null ? 'Không' : menu.parentName}">
						<span class="input-group-addon"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">Loại menu: </label>
				<div class="col-sm-8">
					<label class="radio-box"> <input type="radio" th:field="*{menuType}" name="menuType" value="M" />
						Mục lục </label>
					<label class="radio-box"> <input type="radio" th:field="*{menuType}" name="menuType" value="C" />
						Menu </label>
					<label class="radio-box"> <input type="radio" th:field="*{menuType}" name="menuType" value="F" />
						Nút </label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">Tên menu:</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="menuName" id="menuName" th:field="*{menuName}"
						required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Địa chỉ yêu cầu:</label>
				<div class="col-sm-8">
					<input id="url" name="url" class="form-control" type="text" th:field="*{url}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Phương thức: </label>
				<div class="col-sm-8">
					<select id="target" name="target" class="form-control m-b">
						<option value="menuItem" th:field="*{target}">Dấu trang</option>
						<option value="menuBlank" th:selected="*{target == 'menuBlank'}">Cửa sổ mới</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">ID ủy quyền:</label>
				<div class="col-sm-8">
					<input id="perms" name="perms" class="form-control" type="text" th:field="*{perms}">
					<span class="help-block m-b-none"><i class="fa fa-info-circle"></i> Định danh quyền được xác định
						trong bộ điều khiển, chẳng hạn như: @RequiresPermissions ("")</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">Sắp xếp hiển thị:</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="orderNum" th:field="*{orderNum}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Biểu tượng:</label>
				<div class="col-sm-8">
					<input id="icon" name="icon" class="form-control" type="text" placeholder="Chọn biểu tượng"
						th:field="*{icon}">
					<div class="ms-parent" style="width: 100%;">
						<div class="icon-drop animated flipInX" style="display: none;max-height:200px;overflow-y:auto">
							<div data-th-include="system/menu/icon"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Tình trạng menu:</label>
				<div class="col-sm-3">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_show_hide')}">
						<input type="radio" th:id="${dict.dictCode}" name="visible" th:value="${dict.dictValue}"
							th:field="*{visible}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
				<label class="col-sm-2 control-label is-refresh" title="Có làm mới trang khi mở tab menu hay không">Có
					làm mới không:<i class="fa fa-question-circle-o"></i></label>
				<div class="col-sm-3 is-refresh">
					<div class="radio-box">
						<input type="radio" id="refresh-no" name="isRefresh" value="1" th:field="*{isRefresh}">
						<label for="refresh-no">Không</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="refresh-yes" name="isRefresh" value="0" th:field="*{isRefresh}">
						<label for="refresh-yes">Có</label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script th:src="@{/app/js/system/menu/edit.js}"></script>

</body>

</html>