<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vn.com.irtech.api.mapper.ExportMapper">
	<select id="getExportMaster" parameterType="vn.com.irtech.api.dto.request.GetVoucherDataReq"
	resultType="vn.com.irtech.api.dto.response.VoucherMasterRes">
		SELECT
		    a.ID AS voucher_id
		    , a.StockExportNumberID AS voucher_no
		    , 
		    LEFT ( 
		        StockExportNumberID
		        , PATINDEX('%[0-9]%', StockExportNumberID) - 1
		    ) AS voucher_type
		    , 
		    RIGHT (StockExportNumberID, 10) AS voucher_index
		    , ( 
		        SELECT
		            TOP 1 p.ProductGroupID 
		        FROM
		            StockExportDetail sid JOIN Product p 
		                ON sid.ProductID = p.ProductID 
		        WHERE
		            sid.StockExportID = a.ID
		    ) AS product_group
		    , a.CustomerID AS provider_id
		    , b.CustomerName AS provider_name
		    , a.Reason AS reason
		    , a.Description AS description
		    , a.StockID AS stock_id
		    , a.RefDate AS voucher_date
		    , a.CreateDate AS voucher_modify_date 
		FROM
		    StockExport a 
		    LEFT JOIN Customer b 
		        ON a.CustomerID = b.CustomerID 
		WHERE
		  1 = 1
		  <if test="startDate != null "> AND a.RefDate BETWEEN CONVERT(DATETIME, #{startDate}) AND CONVERT(DATETIME, #{endDate})</if>
		  <if test="id != null "> AND a.ID = #{id}</if>
		  <if test="id == null "> AND a.StockExportNumberID NOT LIKE 'XPT%'</if>
		ORDER BY
		    a.RefDate DESC
	</select>

	<select id="getExportDetails" parameterType="Long"
	resultType="vn.com.irtech.api.dto.response.VoucherDetailRes">
		SELECT
		    ID AS detail_id
		    , ProductID AS product_id
		    , ProductName AS product_name
		    , StockID AS stock_id
		    , UnitID AS unit_id
		    , Ak as ak_rate
		    , Wtp as wtp_rate
		    , RealQuantity as real_quantity
		    , Quantity as convert_quantity 
		FROM
		    StockExportDetail 
		WHERE
		    1 = 1 
		    AND StockExportID = #{exportId};
	</select>
</mapper>