<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="include :: header('Cập nhật trạng thái')" />
  <style th:inline="css">
    input[type=radio] {
      margin: 2px 0 0;
    }
  </style>
</head>

<body class="white-bg">
  <div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="formCommitManual" name="formCommitManual">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="col-xs-3 control-label">Trạng thái：</label>
            <div class="col-xs-9">
              <select name="status">
                <option value="0">Chưa làm</option>
                <option value="4" selected>Thành công</option>
                <option value="3">Thất bại</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </form>
  </div>
  <th:block th:include="include :: footer" />
  <script type="text/javascript" th:inline="javascript">
  </script>
  <script th:src="@{/app/js/business/process-gslct/update-status.js}"></script>
</body>

</html>