<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.irbot.business.mapper.RobotMapper">
    
    <resultMap type="Robot" id="RobotResult">
        <result property="id"    column="id"    />
        <result property="uuid"    column="uuid"    />
        <result property="ipAddress"    column="ip_address"    />
        <result property="status"    column="status"    />
        <result property="disabled"    column="disabled"    />
        <result property="pingTime"    column="ping_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectRobotVo">
        select id, uuid, ip_address, status, disabled, ping_time, del_flag, create_by, create_time, update_by, update_time from robot
    </sql>

    <select id="selectRobotList" parameterType="Robot" resultMap="RobotResult">
        select id, uuid, ip_address, status, disabled, ping_time, del_flag, create_by, create_time, update_by, update_time from robot
        <where>  
            <if test="uuid != null  and uuid != ''"> and uuid = #{uuid}</if>
            <if test="ipAddress != null  and ipAddress != ''"> and ip_address = #{ipAddress}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="disabled != null  and disabled != ''"> and disabled = #{disabled}</if>
            <if test="params.serviceId != null">
				and (select count(*) from robot_service where robot_id = robot.id and service_id = #{params.serviceId}) > 0
			</if>
        </where>
    </select>
    
    <select id="selectRobotById" parameterType="Long" resultMap="RobotResult">
        <include refid="selectRobotVo"/>
        where id = #{id}
    </select>
    
    <select id="selectRobotNotPing" parameterType="Integer" resultMap="RobotResult">
        <include refid="selectRobotVo"/>
        where datediff(minute, ping_time, getdate()) > #{minutesNotPing} AND status NOT LIKE '0'
    </select>
        
    <insert id="insertRobot" parameterType="Robot" useGeneratedKeys="true" keyProperty="id">
        insert into robot
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid,</if>
            <if test="ipAddress != null">ip_address,</if>
            <if test="status != null">status,</if>
            <if test="disabled != null">disabled,</if>
            <if test="pingTime != null">ping_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">#{uuid},</if>
            <if test="ipAddress != null">#{ipAddress},</if>
            <if test="status != null">#{status},</if>
            <if test="disabled != null">#{disabled},</if>
            <if test="pingTime != null">#{pingTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            getdate()
         </trim>
    </insert>

    <update id="updateRobot" parameterType="Robot">
        update robot
        <trim prefix="SET" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid = #{uuid},</if>
            <if test="ipAddress != null">ip_address = #{ipAddress},</if>
            <if test="status != null">status = #{status},</if>
            <if test="disabled != null">disabled = #{disabled},</if>
            <if test="pingTime != null">ping_time = #{pingTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = getdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRobotById" parameterType="Long">
        delete from robot where id = #{id}
    </delete>

    <delete id="deleteRobotByIds" parameterType="String">
        delete from robot where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="selectRobotByService" resultMap="RobotResult">
        select id, uuid, ip_address, status, disabled, ping_time, del_flag, create_by, create_time, update_by, update_time 
        from robot r inner join robot_service rs on r.id = rs.robot_id
        where rs.service_id = #{serviceId} and r.status = #{status} and r.disabled = '0'
    </select>
</mapper>