<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <title th:remove="all">Thông Tin Qr Code</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
   <table border="0" cellspacing="0" cellpadding="0" width="100%" align="left">
      <tbody>
         <tr>
            <td>
               <table cellspacing="0" cellpadding="0" border="0" width="100%">
                  <tbody>
                     <tr>
                        <td style="width:45px">
                           <br>
                        </td>
                        <td>

                        </td>
                        <td style="width:45px">
                           <br>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
      </tbody>
   </table>
</body>